*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0c0c0c;
}
.cabeçario{
    background-color: #626572;
    height: 60px;
}
.container{
    display: flex;
}
.perg_frequentes{
    background-color: #bbbab3;
    float: left;
    display: flex;
    position: relative;
    width: 50%;
    height: 100vh;
}
.formulario{
    background-color: #a09d87;
    display: flex;
    flex-direction: column;
    float: right;
    position: relative;
    width: 50%;
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
}
.sec-form{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    
}
.span{
    font-size: 16px;
    color: #0c0c0c;
    margin-left: 3px;
    display: block;
    text-align: justify;
    position: absolute;
    top: 24px;
    pointer-events: none;
    transition: .5s;
    opacity: .4;
}
.entrada{
    background-color:#a09d87;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 6px;
    height: 35px;
    font-size: 14px;
    border: 2px solid #818b8c;
}
.entrada[type=text]:focus{
    outline: none;
    border: 1px solid #e9aa36;

}
.entrada:focus ~ span, .entrada:valid ~ span{
    transform: translateY(-30px);
    font-size: 14px;
    opacity: 1;
}
.divuser_nome{
    width: 50%;
}
.total-nome{
    width: 60%;
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
    align-content: center;
}
.divnome{
    width: 50%;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}
.divsobrenome{
    width: 50%;
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
}
.outrosdados{
    margin: 0;
    padding: 0;
    width: 80%;
    position: relative;
    display: inline-block;
}
.botao{
    background-color: #bbbab3;
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    margin: 40px;
    width: 20%;
    height: 35px;
    float: right;
    position: relative;
    display: block;
    transition: backgroud-color .3s ease;
    cursor: pointer;
}
.botao:hover{
    background-color: #c0bc9f;
}

